body {
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 50px;
}

.navbar {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.navbar-links {
  display: flex;
  gap: 30px;
}

.navbar-links > * {
  text-decoration: none;
  color: black;
}